:root {
    --second-font: 'Playfair Display', serif;
    --popular-item-header-fsize: 24px;
    --popular-item-header-lHeight: 36px;
    --popular-item-header-width: 350px;
    --container-padding: 0 91px 0 209px;
    --variable-gap: 97.5px;
}